{
    "api_key": "你的APIKEY",
    "base_url": "你的API地址",
    "max_chars": 3000,
    "model": "tts-1",
    "summary_model": "gpt-4o-mini",
    "voices": {
        "alloy": "平衡而清晰的声音，适用于通用的叙述场景，传达明确且不偏不倚的语调。",
        "echo": "温暖而富有亲和力的声音，适合对话式内容或需要温柔传递信息的场景。",
        "fable": "富有表现力且戏剧化的声音，适合用于讲故事或戏剧性的内容中。",
        "onyx": "低沉且具有权威感的声音，适合正式场合或需要传递严肃信息的内容。",
        "nova": "明亮而充满活力的声音，适合青春洋溢或需要激励、鼓舞的场景。",
        "shimmer": "柔和而安抚人心的声音，适合放松或需要营造舒缓氛围的内容。"
    }
}
